<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>DefaultValue</key>
			<string>VersionValue</string>
			<key>Key</key>
			<string>version</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>DefaultValue</key>
			<string>BuildValue</string>
			<key>Key</key>
			<string>build</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Sleep While Active</string>
			<key>Key</key>
			<string>no_sleep</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>AR Configuration</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Recognition Type</string>
			<key>Key</key>
			<string>recognition_type</string>
			<key>DefaultValue</key>
			<string>image</string>
			<key>Titles</key>
			<array>
				<string>Image</string>
				<string>Object</string>
			</array>
			<key>Values</key>
			<array>
				<string>image</string>
				<string>object</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Data Configuration</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Offline Mode</string>
			<key>Key</key>
			<string>data_simulator</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>IoT Message Request Interval</string>
			<key>Key</key>
			<string>sensor_request_interval</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Titles</key>
			<array>
				<string>2.5</string>
				<string>5</string>
				<string>10</string>
				<string>30</string>
				<string>60</string>
			</array>
			<key>Values</key>
			<array>
				<real>2.5</real>
				<integer>5</integer>
				<integer>10</integer>
				<integer>30</integer>
				<integer>60</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ICS Settings</string>
			<key>FooterText</key>
			<string>If your ICS instance uses a port other than 443, then include it in the host name field.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Host Name</string>
			<key>Key</key>
			<string>ics_hostname</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>ics_username</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<false/>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>ics_password</string>
			<key>IsSecure</key>
			<true/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
	</array>
</dict>
</plist>
